@import "tailwindcss";
/* 
* {
  border: 2px solid black;
} */

html,
body,
#root { /* or the element your React app mounts to */
  font-family: Inter, sans-serif;
  height: 100%;
  margin: 0;
  padding: 0;
}

@keyframes marquee {
  from { transform: translateX(100%); }
  to { transform: translateX(-100%); }
}

.animate {
  animation: marquee 6s linear infinite;
}